@import "../../../styles/colors.scss";

@mixin carousel-btn($background) {
    width: 2.81rem;
    height: 2.81rem;
    border-radius: 100%;
    padding: 0;
    background-color: $background;
    border: none;
    cursor: pointer;
}

.carousel-btn {
    @include carousel-btn($white);

    &-active {
        @include carousel-btn($text-heading-color);
    }

    &-img {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0.65rem;
    }
}
