@import '../../../styles/colors.scss';

.carousel-btn {
    width: 2.81rem;
    height: 2.81rem;
    border-radius: 100%;
    padding: 0;
    background-color: $text-heading-color;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: lighten($text-heading-color, 5);
    }

    &:disabled {
        background-color: $white;
        cursor: default;
    }

    &-img {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0.65rem;
    }
}
