@import '../../../styles/colors.scss';

.info-card {
    width: 20.56rem;
    height: 14.06rem;

    .icon {
        width: 4.6875rem;
        height: 4.6875rem;
    }

    .title {
        font-family: $font-family;
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 120%;
        color: $black;
        margin: 1.38rem 0;
    }

    .description {
        font-family: $font-family;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: $black;
        margin: 0;
    }
}
