@import '../../styles/colors.scss';

.info-content {
    width: 86.25rem;
    margin-top: 5.75rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .subtitle {
        font-family: $font-family;
        font-weight: 400;
        font-size: 1rem;
        line-height: 120%;
        color: $black;
        margin: 0;
        margin: 1rem;
    }

    .title {
        font-family: $font-family;
        font-weight: 600;
        font-size: 3.12rem;
        line-height: 120%;
        color: $black;
        margin: 0;
    }

    .card-container {
        width: 81.69rem;
        height: 14.06rem;
        display: flex;
        justify-content: space-between;
        margin: 2.81rem;
    }
}
